<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" />
    <meta name="author" content="NepsterJay" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Socket Chat App</title>
</head>

<body>
<div id="app">
<div class="container">
    <div class="col-lg-6 offset-lg-3">
        <div v-if="ready==false">
            <h3>Set Your Name</h3>
            <form @submit.prevent="addName">
                 <div class="form-group">
                     <input type="text" v-model="name" class="form-control" placeholder="Your Name">
                 </div>
            </form>
        </div>
    <div class="card bg-info" v-else >
        <div class="card-header">
            <span class="card-title text-white" v-if="name">Welcome: {{name}}</span>
        </div>
        <li class="list-group-item" v-for="message  in messages">
           <span :class="{'float-right':message.type===0}">
               {{message.message}}<br>
           <small>User: {{message.by}} Time: {{message.time}}</small>
           </span>
        </li>
        <div class="card-body">
            <small v-if="typing">{{typing}} Typing...</small>
            <form @submit.prevent="send">
                <input type="text" v-model="newMessage" class="form-control" placeholder="Type Here">
            </form>
        </div>


    </div>

        <div class="card bg-info"  style="margin-top: 15px"  >
            <div class="card-header">
                Users
            </div>
            <li class="list-group-item" v-for="user  in users">
           {{user}}
            </li>



        </div>
    </div>
</div>
</div>
<script  src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<script>
    var socket=io();
    let app= new Vue({
        el:'#app',
        data:{
            newMessage: null,
            messages:[],
            typing: false,
            name: null,
            ready:false,
            info:[],
            users:[],
            connections:0
        },
        created(){
           // console.log('created');
            socket.emit('Created','Monir');
            socket.on('Created',(data) =>{
                //console.log(data);
            });
            socket.on('chat-message',(data) =>{

                this.messages.push({message:data.message, type:1,by:data.user,time: data.time});
            });
            socket.on('typing',(name) =>{
                this.typing=name;
            });
            socket.on('stopTyping',(data) =>{
                this.typing=false;
            });
            socket.on('joined',(data)=>{
                this.info.push({name:data, type:'joined'})
            });

            socket.on('connections',(data)=>{
                this.connections=data;
            });

            socket.on('users',(data)=>{
                this.users=data;
            });

        },
        watch:{
          newMessage(value){
              value ? socket.emit('typing', this.name):socket.emit('stopTyping')
          }
        },
        methods:{
            send(){
                var today = new Date();
                var time = today.getHours() + ":" + today.getMinutes();
                this.messages.push({message:this.newMessage, type:0,by:'me',time:time});
                socket.emit('chat-message', {message:this.newMessage,user:this.name,time:time})
                this.newMessage=null
            },
            addName(){
                this.ready=true;
                socket.emit('joined', this.name)
            }
        }
    });
</script>
</body>
</html>